<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>

<!-- Navigation -->
{{> navigation}}

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">Your order is now complete</h1>

    <p>You should pay in cash or by card upon delivery.</p>
    <p>Thanks for placing an order with Cake Factory!</p>

</div>
<!-- /.container -->

<!-- Footer -->
{{> footer}}

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
